* {
  margin: 0;
  padding: 0;
}

.container>.sidebar{
    background-color: aqua;
}
.header{
    background-color: white;
}
.main{
    background-color: lightgrey;
}
img{
    height: 50px;
    width: auto;
}